êµ¬ê¸€ ë“œë¼ì´ë¸Œ ì—°ê²°

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

ì¬í•´ ë°ì´í„°ì…‹ì—ì„œ ì‚¬ìš©í•  ì»¬ëŸ¼ë§Œ ì¶”ì¶œ

In [36]:
# ë¼ì´ë¸ŒëŸ¬ë¦¬
import pandas as pd

# Google Drive íŒŒì¼ ê²½ë¡œ ì§€ì •
file_path = "/content/drive/MyDrive/4-2 ë¹…ë°ì´í„°ì‘ìš©/original dataset/public_emdat_custom_request_2025-11-02_209c5476-8f25-40a3-80fe-18b6e00f62bc.xlsx"

# ì—‘ì…€ ë¶ˆëŸ¬ì˜¤ê¸°
df = pd.read_excel(file_path)

# í•„ìš”í•œ ì—´ë§Œ ì„ íƒ
columns_to_keep = [
    "ISO",
    "DisNo.",
    "Country",
    "Disaster Group",
    "Disaster Subgroup",
    "Disaster Type",
    "Disaster Subtype",
    "Start Year",
    "End Year",
    "Total Deaths",
    "Total Affected",
    "Total Damage ('000 US$)"
]
df_clean = df[columns_to_keep]

# MySQL ì»¬ëŸ¼ëª…ìœ¼ë¡œ í†µì¼
df_clean.columns = [
    "iso_code",
    "disno",
    "country",
    "disaster_group",
    "disaster_subgroup",
    "disaster_type",
    "disaster_subtype",
    "start_year",
    "end_year",
    "total_deaths",
    "total_affected",
    "total_damage_thousand_usd"
]

# ê²°ì¸¡ì¹˜ â†’ NULL
df_clean = df_clean.fillna("NULL")

# ì •ì œëœ CSV ì €ì¥ (ë‚´ ë“œë¼ì´ë¸Œì— ì €ì¥)
output_path = "/content/drive/MyDrive/4-2 ë¹…ë°ì´í„°ì‘ìš©/disaster_clean.csv"
df_clean.to_csv(output_path, index=False)

print("ì •ì œ ì™„ë£Œ! íŒŒì¼ì´ ì´ ê²½ë¡œì— ì €ì¥ë¨:\n", output_path)

# ë¯¸ë¦¬ë³´ê¸°
df_clean.head(10)

âœ… ì •ì œ ì™„ë£Œ! íŒŒì¼ì´ ì´ ê²½ë¡œì— ì €ì¥ë¨:
 /content/drive/MyDrive/4-2 ë¹…ë°ì´í„°ì‘ìš©/disaster_clean.csv

,iso_code,disno,country,disaster_group,disaster_subgroup,disaster_type,disaster_subtype,start_year,end_year,total_deaths,total_affected,total_damage_thousand_usd
0,DJI,1999-9388-DJI,Djibouti,Natural,Climatological,Drought,Drought,2001,2001,NULL,100000.0,NULL
1,SDN,1999-9388-SDN,Sudan,Natural,Climatological,Drought,Drought,2000,2001,NULL,2000000.0,NULL
2,SOM,1999-9388-SOM,Somalia,Natural,Climatological,Drought,Drought,2000,2001,21.0,1200000.0,NULL
3,AGO,2000-0002-AGO,Angola,Natural,Hydrological,Flood,Riverine flood,2000,2000,31.0,70000.0,10000.0
4,BGD,2000-0003-BGD,Bangladesh,Natural,Meteorological,Extreme temperature,Cold wave,2000,2000,49.0,NULL,NULL
5,GTM,2000-0008-GTM,Guatemala,Natural,Geophysical,Volcanic activity,Ash fall,2000,2000,NULL,800.0,NULL
6,IRN,2000-0009-IRN,Iran (Islamic Republic of),Natural,Meteorological,Storm,Storm (General),2000,2000,3.0,5500.0,NULL
7,MOZ,2000-0012-MOZ,Mozambique,Natural,Hydrological,Flood,Riverine flood,2000,2000,800.0,4500000.0,419200.0
8,ZAF,2000-0017-ZAF,South Africa,Natural,Climatological,Wildfire,"Land fire (Brush, Bush, Pasture)",2000,2000,NULL,1250.0,10000.0
9,BRA,2000-0019-BRA,Brazil,Natural,Hydrological,Flood,Riverine flood,2000,2000,26.0,70000.0,NULL

ì›”í‰ê·  ê¸°ì˜¨ ë°ì´í„°ì…‹ì—ì„œ ì‚¬ìš©í•  ì»¬ëŸ¼ë§Œ ì¶”ì¶œ

In [37]:
# Google Drive íŒŒì¼ ê²½ë¡œ ì§€ì •
file_path = "/content/drive/MyDrive/4-2 ë¹…ë°ì´í„°ì‘ìš©/original dataset/average-monthly-surface-temperature.csv"

# CSV ë¶ˆëŸ¬ì˜¤ê¸°
df = pd.read_csv(file_path)

columns_to_keep = ["Entity", "Code", "year", "Day", "Average surface temperature"]
df_clean = df[columns_to_keep]

# MySQL ì»¬ëŸ¼ëª…ìœ¼ë¡œ í†µì¼
df_clean.columns = [
    "country",
    "iso_code",
    "measurement_year",
    "measurement_month",
    "avg_temperature_celsius"
]

# measurement_monthì—ì„œ ì›”ë§Œ ì¶”ì¶œ
df_clean["measurement_month"] = pd.to_datetime(df_clean["measurement_month"]).dt.month

# ê²°ì¸¡ì¹˜ ì²˜ë¦¬ (NaN â†’ NULL)
df_clean = df_clean.fillna("NULL")

# ë‚´ ë“œë¼ì´ë¸Œì— ì €ì¥
output_path = "/content/drive/MyDrive/4-2 ë¹…ë°ì´í„°ì‘ìš©/temperature_clean.csv"
df_clean.to_csv(output_path, index=False)

print("ì˜¨ë„ ë°ì´í„° ì •ì œ ì™„ë£Œ! ì €ì¥ ê²½ë¡œ:\n", output_path)

# ì¼ë¶€ ë°ì´í„° ë¯¸ë¦¬ë³´ê¸°
df_clean.head(10)

/tmp/ipython-input-832472915.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean["measurement_month"] = pd.to_datetime(df_clean["measurement_month"]).dt.month

âœ… ì˜¨ë„ ë°ì´í„° ì •ì œ ì™„ë£Œ! ì €ì¥ ê²½ë¡œ:
 /content/drive/MyDrive/4-2 ë¹…ë°ì´í„°ì‘ìš©/temperature_clean.csv

,country,iso_code,measurement_year,measurement_month,avg_temperature_celsius
0,Afghanistan,AFG,1940,1,-2.032494
1,Afghanistan,AFG,1940,2,-0.733503
2,Afghanistan,AFG,1940,3,1.999134
3,Afghanistan,AFG,1940,4,10.199754
4,Afghanistan,AFG,1940,5,17.942135
5,Afghanistan,AFG,1940,6,23.203533
6,Afghanistan,AFG,1940,7,24.441550
7,Afghanistan,AFG,1940,8,22.058195
8,Afghanistan,AFG,1940,9,17.721355
9,Afghanistan,AFG,1940,10,13.730240



*  ì¬í•´ë°ì´í„°ì…‹ê³¼ ì›”í‰ê·  ê¸°ì˜¨ ë°ì´í„°ì…‹ì˜ êµ­ê°€ëª… í†µì¼

*  êµ­ê°€ëª… csv ìƒì„±

In [38]:
import pandas as pd

# íŒŒì¼ ê²½ë¡œ
disaster_path = "/content/drive/MyDrive/4-2 ë¹…ë°ì´í„°ì‘ìš©/disaster_clean.csv"
temperature_path = "/content/drive/MyDrive/4-2 ë¹…ë°ì´í„°ì‘ìš©/temperature_clean.csv"

# CSV ë¶ˆëŸ¬ì˜¤ê¸°
df_disaster = pd.read_csv(disaster_path)
df_temp = pd.read_csv(temperature_path)

# NIAIDì™€ 'World' ì œê±° (ì˜¨ë„ ë°ì´í„°)
df_temp = df_temp[~df_temp["country"].str.contains("NIAID", na=False)]
df_temp = df_temp[~df_temp["country"].str.strip().str.lower().isin(["world"])]

# ì´ë¦„ í†µí•© ë§¤í•‘
merge_map = {
    "Cote d'Ivoire": "CÃ´te d'Ivoire",
    "Democratic Republic of Congo": "Democratic Republic of the Congo",
    "Netherlands (Kingdom of the)": "Netherlands",
    "Bolivia (Plurinational State of)": "Bolivia",
    "Cabo Verde": "Cape Verde",
    "China, Hong Kong Special Administrative Region": "Hong Kong",
    "China, Macao Special Administrative Region": "Macao",
    "Democratic People's Republic of Korea": "North Korea",
    "Iran (Islamic Republic of)": "Iran",
    "Lao People's Democratic Republic": "Laos",
    "Republic of Korea": "South Korea",
    "Republic of Moldova": "Moldova",
    "Russian Federation": "Russia",
    "State of Palestine": "Palestine",
    "Syrian Arab Republic": "Syria",
    "Taiwan (Province of China)": "Taiwan",
    "Timor-Leste": "East Timor",
    "TÃ¼rkiye": "Turkey",
    "United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
    "United Republic of Tanzania": "Tanzania",
    "United States of America": "United States",
    "Venezuela (Bolivarian Republic of)": "Venezuela",
    "Viet Nam": "Vietnam"
}

# êµ­ê°€ëª… í†µí•© ì ìš©
df_disaster["country"] = df_disaster["country"].replace(merge_map)
df_temp["country"] = df_temp["country"].replace(merge_map)
df_disaster["country"] = df_disaster["country"].replace("CÃ´te dâ€™Ivoire", "CÃ´te d'Ivoire")

# ê³ ìœ  êµ­ê°€ëª… ì¶”ì¶œ
disaster_countries = set(df_disaster["country"].dropna().unique())
temperature_countries = set(df_temp["country"].dropna().unique())

# ë¶„ë¥˜
common_countries = sorted(list(disaster_countries & temperature_countries))
only_disaster = sorted([c for c in disaster_countries if c not in common_countries])
only_temperature = sorted([c for c in temperature_countries if c not in common_countries])

# ìµœì¢… í†µí•© ëª©ë¡
final_countries = sorted(list(disaster_countries | temperature_countries))

# ISO ì½”ë“œ ë§¤í•‘ í†µí•© (ë‘˜ ë‹¤ iso_code ì»¬ëŸ¼ ì¡´ì¬)
disaster_iso = df_disaster[["country", "iso_code"]].drop_duplicates()
temp_iso = df_temp[["country", "iso_code"]].drop_duplicates()

# ì¤‘ë³µ ì œê±°í•˜ë©´ì„œ ë³‘í•© (ìš°ì„ ìˆœìœ„: ì¬í•´ â†’ ì˜¨ë„)
iso_map = pd.concat([disaster_iso, temp_iso]).drop_duplicates(subset=["country"], keep="first")

# ìµœì¢… êµ­ê°€ íŒŒì¼ ìƒì„±
df_country = pd.DataFrame({"country_name": final_countries})
df_country = df_country.merge(iso_map, how="left", left_on="country_name", right_on="country").drop(columns=["country"])

# íŒŒì¼ ì €ì¥
df_disaster.to_csv("/content/drive/MyDrive/4-2 ë¹…ë°ì´í„°ì‘ìš©/disaster_standardized_final.csv", index=False, encoding="utf-8-sig")
df_temp.to_csv("/content/drive/MyDrive/4-2 ë¹…ë°ì´í„°ì‘ìš©/temperature_standardized_final.csv", index=False, encoding="utf-8-sig")
df_country.to_csv("/content/drive/MyDrive/4-2 ë¹…ë°ì´í„°ì‘ìš©/country_unified_final.csv", index=False, encoding="utf-8-sig")

# ê²°ê³¼ ìš”ì•½
print(f"ê³µí†µ êµ­ê°€ ìˆ˜: {len(common_countries)}ê°œ")
print(f"ì¬í•´ ì „ìš©: {len(only_disaster)}ê°œ")
print(f"ì˜¨ë„ ì „ìš©: {len(only_temperature)}ê°œ")
print(f"ìµœì¢… í†µí•© êµ­ê°€ ìˆ˜: {len(final_countries)}ê°œ\n")

print(f"ì €ì¥ ì™„ë£Œ: country_unified_final.csv (ISO ì½”ë“œ í¬í•¨)")
print(f"ISO ì½”ë“œ ëˆ„ë½ëœ êµ­ê°€ ìˆ˜: {df_country['iso_code'].isna().sum()}ê°œ")

âœ… ê³µí†µ êµ­ê°€ ìˆ˜: 184ê°œ
ğŸŒª ì¬í•´ ì „ìš©: 36ê°œ
ğŸŒ¡ ì˜¨ë„ ì „ìš©: 10ê°œ
ğŸŒ ìµœì¢… í†µí•© êµ­ê°€ ìˆ˜: 230ê°œ

ğŸ’¾ ì €ì¥ ì™„ë£Œ: country_unified_final.csv (ISO ì½”ë“œ í¬í•¨)
ISO ì½”ë“œ ëˆ„ë½ëœ êµ­ê°€ ìˆ˜: 0ê°œ

In [2]:
pip install pycountry-convert

Collecting pycountry-convert
  Downloading pycountry_convert-0.7.2-py3-none-any.whl.metadata (7.2 kB)
Collecting pprintpp>=0.3.0 (from pycountry-convert)
  Downloading pprintpp-0.4.0-py2.py3-none-any.whl.metadata (7.9 kB)
Collecting pycountry>=16.11.27.1 (from pycountry-convert)
  Downloading pycountry-24.6.1-py3-none-any.whl.metadata (12 kB)
Requirement already satisfied: pytest>=3.4.0 in /usr/local/lib/python3.12/dist-packages (from pycountry-convert) (8.4.2)
Collecting pytest-mock>=1.6.3 (from pycountry-convert)
  Downloading pytest_mock-3.15.1-py3-none-any.whl.metadata (3.9 kB)
Collecting pytest-cov>=2.5.1 (from pycountry-convert)
  Downloading pytest_cov-7.0.0-py3-none-any.whl.metadata (31 kB)
Collecting repoze.lru>=0.7 (from pycountry-convert)
  Downloading repoze.lru-0.7-py3-none-any.whl.metadata (1.1 kB)
Requirement already satisfied: wheel>=0.30.0 in /usr/local/lib/python3.12/dist-packages (from pycountry-convert) (0.45.1)
Requirement already satisfied: iniconfig>=1 in /usr/local/lib/python3.12/dist-packages (from pytest>=3.4.0->pycountry-convert) (2.3.0)
Requirement already satisfied: packaging>=20 in /usr/local/lib/python3.12/dist-packages (from pytest>=3.4.0->pycountry-convert) (25.0)
Requirement already satisfied: pluggy<2,>=1.5 in /usr/local/lib/python3.12/dist-packages (from pytest>=3.4.0->pycountry-convert) (1.6.0)
Requirement already satisfied: pygments>=2.7.2 in /usr/local/lib/python3.12/dist-packages (from pytest>=3.4.0->pycountry-convert) (2.19.2)
Collecting coverage>=7.10.6 (from coverage[toml]>=7.10.6->pytest-cov>=2.5.1->pycountry-convert)
  Downloading coverage-7.11.3-cp312-cp312-manylinux1_x86_64.manylinux_2_28_x86_64.manylinux_2_5_x86_64.whl.metadata (9.1 kB)
Downloading pycountry_convert-0.7.2-py3-none-any.whl (13 kB)
Downloading pprintpp-0.4.0-py2.py3-none-any.whl (16 kB)
Downloading pycountry-24.6.1-py3-none-any.whl (6.3 MB)
   â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 6.3/6.3 MB 41.0 MB/s eta 0:00:00
Downloading pytest_cov-7.0.0-py3-none-any.whl (22 kB)
Downloading pytest_mock-3.15.1-py3-none-any.whl (10 kB)
Downloading repoze.lru-0.7-py3-none-any.whl (10 kB)
Downloading coverage-7.11.3-cp312-cp312-manylinux1_x86_64.manylinux_2_28_x86_64.manylinux_2_5_x86_64.whl (251 kB)
   â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 251.3/251.3 kB 19.1 MB/s eta 0:00:00
Installing collected packages: repoze.lru, pprintpp, pycountry, coverage, pytest-mock, pytest-cov, pycountry-convert
Successfully installed coverage-7.11.3 pprintpp-0.4.0 pycountry-24.6.1 pycountry-convert-0.7.2 pytest-cov-7.0.0 pytest-mock-3.15.1 repoze.lru-0.7

êµ­ê°€ëª… csvì— ëŒ€ì‘í•˜ëŠ” ëŒ€ë¥™ ì»¬ëŸ¼ë„ ì¶”ê°€

In [5]:
import pandas as pd
import pycountry_convert as pc

# ë¶ˆëŸ¬ì˜¤ê¸°
countries = pd.read_csv("/content/drive/MyDrive/4-2 ë¹…ë°ì´í„°ì‘ìš©/country_unified_final.csv")

# ëŒ€ë¥™ ë¶„ë¥˜ í•¨ìˆ˜
def get_continent(country_name):
    try:
        code = pc.country_name_to_country_alpha2(country_name)
        continent_code = pc.country_alpha2_to_continent_code(code)
        return {
            "AF": "Africa",
            "AS": "Asia",
            "EU": "Europe",
            "NA": "North America",
            "SA": "South America",
            "OC": "Oceania",
            "AN": "Antarctica"
        }.get(continent_code, None)
    except:
        return None

countries["continent_name"] = countries["country_name"].apply(get_continent)

# CSVë¡œ ì €ì¥
countries.to_csv("/content/drive/MyDrive/4-2 ë¹…ë°ì´í„°ì‘ìš©/country_with_continent.csv", index=False, encoding="utf-8-sig")

# ëŒ€ë¥™ í…Œì´ë¸” (unique)
continents = countries["continent_name"].dropna().unique()
print(continents)

['Asia' 'Europe' 'Africa' 'Oceania' 'North America' 'South America'
 'Antarctica']

pycountry_convert ë¡œ ë§¤ì¹­ ì•ˆë˜ëŠ” êµ­ê°€ëª…ì€ ìˆ˜ë™ìœ¼ë¡œ ëŒ€ë¥™ ë§¤ì¹­

In [6]:
import pandas as pd

df = pd.read_csv("/content/drive/MyDrive/4-2 ë¹…ë°ì´í„°ì‘ìš©/country_with_continent.csv")

manual_continent_fix = {
    "Azores Islands": "Europe",
    "Canary Islands": "Africa",
    "East Timor": "Asia",
    "Kosovo": "Europe",
    "Micronesia (Federated States of)": "Oceania",
    "Saint Helena": "Africa",
    "Saint Martin (French Part)": "North America",
    "Serbia Montenegro": "Europe",
    "Sint Maarten (Dutch part)": "North America",
    "Wallis and Futuna Islands": "Oceania"
}

df["continent_name"] = df.apply(
    lambda row: manual_continent_fix.get(row["country_name"], row["continent_name"]),
    axis=1
)

# ìˆ˜ì •ëœ íŒŒì¼ ì €ì¥
df.to_csv("/content/drive/MyDrive/4-2 ë¹…ë°ì´í„°ì‘ìš©/country_with_continent_fixed.csv", index=False, encoding="utf-8-sig")

Empty DataFrame
Columns: [country_name, iso_code, continent_name]
Index: []

* êµ­ê°€, ëŒ€ë¥™ csv
* disaster csv
* monthly temperature csv
* ì„¸ íŒŒì¼ì„ ì´ìš©í•´ insert ë¬¸ ìƒì„± í›„ sql íŒŒì¼ ìƒì„±

In [11]:
import pandas as pd

# ================================
# íŒŒì¼ ê²½ë¡œ
# ================================
country_path = "/content/drive/MyDrive/4-2 ë¹…ë°ì´í„°ì‘ìš©/country_with_continent_fixed.csv"
disaster_path = "/content/drive/MyDrive/4-2 ë¹…ë°ì´í„°ì‘ìš©/disaster_standardized_final.csv"
temp_path = "/content/drive/MyDrive/4-2 ë¹…ë°ì´í„°ì‘ìš©/temperature_standardized_final.csv"

# CSV ë¶ˆëŸ¬ì˜¤ê¸°
df_country = pd.read_csv(country_path)
df_disaster = pd.read_csv(disaster_path)
df_temp = pd.read_csv(temp_path)

# ================================
# 1ï¸. continent
# ================================
continents = sorted(df_country["continent_name"].dropna().unique().tolist())
continent_sql = "INSERT INTO continent (continent_name) VALUES\n"
continent_sql += ",\n".join([f"('{c}')" for c in continents]) + ";\n\n"
continent_map = {name: idx + 1 for idx, name in enumerate(continents)}

# ================================
# 2ï¸. country
# ================================
country_values = []
for i, row in df_country.iterrows():
    name = row.country_name.replace("'", "''")
    iso = row.iso_code
    cid = continent_map.get(row.continent_name, "NULL")
    country_values.append(f"('{name}', '{iso}', {cid})")

country_sql = (
    "INSERT INTO country (country_name, iso_code, continent_id) VALUES\n"
    + ",\n".join(country_values)
    + ";\n\n"
)
# ISO â†’ country_id (1ë¶€í„° ìˆœì„œëŒ€ë¡œ)
country_id_map = {row.iso_code: i + 1 for i, row in df_country.iterrows()}

# ================================
# 3ï¸. disaster_types
# ================================
disaster_types_df = df_disaster[
    ["disaster_group", "disaster_subgroup", "disaster_type", "disaster_subtype"]
].drop_duplicates(ignore_index=True)

disaster_type_values = []
for _, r in disaster_types_df.iterrows():
    # NULL í—ˆìš© (NaN ë°©ì§€)
    g = r.disaster_group if pd.notna(r.disaster_group) else "NULL"
    sg = r.disaster_subgroup if pd.notna(r.disaster_subgroup) else "NULL"
    t = r.disaster_type if pd.notna(r.disaster_type) else "NULL"
    st = r.disaster_subtype if pd.notna(r.disaster_subtype) else "NULL"
    disaster_type_values.append(f"('{g}', '{sg}', '{t}', '{st}')")

disaster_type_sql = (
    "INSERT INTO disaster_types (disaster_group, disaster_subgroup, disaster_type, disaster_subtype) VALUES\n"
    + ",\n".join(disaster_type_values)
    + ";\n\n"
)

# FK ë§¤í•‘
disaster_type_map = {
    (r.disaster_group, r.disaster_subgroup, r.disaster_type, r.disaster_subtype): i + 1
    for i, r in disaster_types_df.iterrows()
}

# ================================
# 4ï¸. disasters
# ================================
disaster_values = []
for _, r in df_disaster.iterrows():
    cid = country_id_map.get(r.iso_code, "NULL")
    did = disaster_type_map.get(
        (r.disaster_group, r.disaster_subgroup, r.disaster_type, r.disaster_subtype),
        "NULL",
    )
    start = int(r.start_year) if pd.notna(r.start_year) else "NULL"
    end = int(r.end_year) if pd.notna(r.end_year) else "NULL"
    deaths = r.total_deaths if pd.notna(r.total_deaths) else "NULL"
    affected = r.total_affected if pd.notna(r.total_affected) else "NULL"
    damage = r.total_damage_thousand_usd if pd.notna(r.total_damage_thousand_usd) else "NULL"

    disaster_values.append(
        f"('{r.disno}', {cid}, {did}, {start}, {end}, {deaths}, {affected}, {damage})"
    )

disaster_sql = (
    "INSERT INTO disasters (disno, country_id, disaster_type_id, start_year, end_year, total_deaths, total_affected, total_damage_thousand_usd) VALUES\n"
    + ",\n".join(disaster_values)
    + ";\n\n"
)

# ================================
# 5ï¸. country_monthly_temperatures
# ================================
temp_values = []
for _, r in df_temp.iterrows():
    cid = country_id_map.get(r.iso_code, "NULL")
    year = int(r.measurement_year)
    month = int(r.measurement_month)
    temp = r.avg_temperature_celsius
    temp_values.append(f"({cid}, {year}, {month}, {temp})")

temp_sql = (
    "INSERT INTO country_monthly_temperatures (country_id, measurement_year, measurement_month, avg_temperature_celsius) VALUES\n"
    + ",\n".join(temp_values)
    + ";\n\n"
)

# ================================
# 6ï¸. ì „ì²´ SQL íŒŒì¼ í†µí•© (í•˜ë‚˜ë¡œ)
# ================================
final_sql = (
    "-- =============================\n"
    "-- INSERT Script for All Tables\n"
    "-- =============================\n\n"
    + continent_sql
    + country_sql
    + disaster_type_sql
    + disaster_sql
    + temp_sql
)

output_path = "/content/drive/MyDrive/4-2 ë¹…ë°ì´í„°ì‘ìš©/dbinsert_1_5.sql"
with open(output_path, "w", encoding="utf-8-sig") as f:
    f.write(final_sql)

print(" SQL íŒŒì¼ ìƒì„± ì™„ë£Œ:", output_path)

âœ… SQL íŒŒì¼ ìƒì„± ì™„ë£Œ: /content/drive/MyDrive/4-2 ë¹…ë°ì´í„°ì‘ìš©/dbinsert_1_5.sql