êµ¬ê¸€ ë“œë¼ì´ë¸Œ ì—°ê²°

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

ã…‡ã„¹

In [5]:
# ë¼ì´ë¸ŒëŸ¬ë¦¬ import
import pandas as pd

# 7ë²ˆ í…Œì´ë¸” ì—°í‰ê·  í•´ìˆ˜ë©´ ì˜¨ë„ ì´ìƒê°’
sst_path = "/content/drive/MyDrive/sea-surface-temperature-anomaly.csv"

# íŒŒì¼ ë¶ˆëŸ¬ì˜¤ê¸°
df_sst = pd.read_csv(sst_path)

# ì»¬ëŸ¼ í™•ì¸ (ì°¸ê³ ìš©)
print("[SST íŒŒì¼ ì»¬ëŸ¼]")
print(df_sst.columns.tolist())
print()

# Code ì»¬ëŸ¼ ì‚­ì œ
df_sst = df_sst.drop(columns=["Code"])

# ì»¬ëŸ¼ëª… ì¬ì •ì˜
df_sst.columns = [
    "region_entity",
    "measurement_year",
    "sst_anomaly_celsius",
    "anomaly_lower_bound",
    "anomaly_upper_bound"
]

# ê²°ì¸¡ì¹˜ NULL ì²˜ë¦¬
df_sst = df_sst.fillna("NULL")


# INSERT SQL ìƒì„±
sst_values = []
for _, r in df_sst.iterrows():
    region = r.region_entity.replace("'", "''") if r.region_entity != "NULL" else "NULL"
    year = int(r.measurement_year) if r.measurement_year != "NULL" else "NULL"
    anomaly = r.sst_anomaly_celsius if r.sst_anomaly_celsius != "NULL" else "NULL"
    lower = r.anomaly_lower_bound if r.anomaly_lower_bound != "NULL" else "NULL"
    upper = r.anomaly_upper_bound if r.anomaly_upper_bound != "NULL" else "NULL"
    sst_values.append(f"('{region}', {year}, {anomaly}, {lower}, {upper})")

sst_sql = (
    "-- 7. Global_Annual_SST_Anomalies\n"
    "INSERT INTO global_annual_sst_anomalies (region_entity, measurement_year, sst_anomaly_celsius, anomaly_lower_bound, anomaly_upper_bound) VALUES\n"
    + ",\n".join(sst_values)
    + ";\n\n"
)

print(f"âœ… SST ë°ì´í„° {len(df_sst)}ê±´ ì²˜ë¦¬ ì™„ë£Œ!")

[SST íŒŒì¼ ì»¬ëŸ¼]
['Entity', 'Code', 'Year', 'Annual sea surface temperature anomalies', 'Annual sea surface temperature anomalies (lower bound)', 'Annual sea surface temperature anomalies (upper bound)']

âœ… SST ë°ì´í„° 528ê±´ ì²˜ë¦¬ ì™„ë£Œ!

In [10]:
# 8ë²ˆ í…Œì´ë¸” (CO2 ë†ë„)
co2_path = "/content/drive/MyDrive/co2-long-term-concentration.csv"

df_co2 = pd.read_csv(co2_path)

print("[CO2 íŒŒì¼ ì»¬ëŸ¼]")
print(df_co2.columns.tolist())
print()

# Code ì»¬ëŸ¼ ì‚­ì œ
df_co2 = df_co2.drop(columns=["Code"])

# ì»¬ëŸ¼ ì´ë¦„ í†µì¼
df_co2.columns = ["region_entity", "year", "co2_ppm"]

# ê²°ì¸¡ì¹˜ NULL ì²˜ë¦¬
df_co2 = df_co2.fillna("NULL")

co2_values = []
for _, r in df_co2.iterrows():
    year = int(r.year) if r.year != "NULL" else "NULL"
    ppm = r.co2_ppm if r.co2_ppm != "NULL" else "NULL"
    co2_values.append(f"({year}, {ppm})")

co2_sql = (
    "-- 8. CO2_Concentration\n"
    "INSERT INTO co2_concentration (year, co2_ppm) VALUES\n"
    + ",\n".join(co2_values)
    + ";\n\n"
)

print(f"âœ… COâ‚‚ ë°ì´í„° {len(df_co2)}ê±´ ì²˜ë¦¬ ì™„ë£Œ!")

[CO2 íŒŒì¼ ì»¬ëŸ¼]
['Entity', 'Code', 'Year', 'Annual concentration of atmospheric carbon dioxide']

âœ… COâ‚‚ ë°ì´í„° 1873ê±´ ì²˜ë¦¬ ì™„ë£Œ!

SQL íŒŒì¼ë¡œ ë§Œë“¤ê¸°

In [12]:
final_sql = (
    sst_sql + co2_sql
)

output_path = "/content/drive/MyDrive/dbinsert_7_8.sql"

with open(output_path, "w", encoding="utf-8-sig") as f:
    f.write(final_sql)

print("\nâœ… SQL íŒŒì¼ ìƒì„± ì™„ë£Œ!")
print("ğŸ“ ì €ì¥ ê²½ë¡œ:", output_path)

âœ… SQL íŒŒì¼ ìƒì„± ì™„ë£Œ!
ğŸ“ ì €ì¥ ê²½ë¡œ: /content/drive/MyDrive/dbinsert_7_8.sql